 .App {
  text-align: center;
}


.App-header {
  background-color: #F3DBCF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




#nav {
    width: 100%;
    float: middle;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  #nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
 /* #exerciseform li {
  float: left;
}

#exerciseform li a {
   display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



#exerciseform {
    color: white;
    text-align: center;
    display: inline-block;
} */
